body{
background:#111827;
font-family:Segoe UI;
color:white;
}

#app{
max-width:420px;
margin:auto;
padding:20px;
}

.header{
text-align:center;
font-size:22px;
font-weight:bold;
margin-bottom:20px;
}

.card{
background:#1f2937;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}

input{
width:100%;
padding:12px;
margin-top:8px;
background:#111827;
border:1px solid #374151;
border-radius:8px;
color:white;
}

button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

.btn-add{
background:#374151;
}

.btn-preview{
background:#2563eb;
}

.btn-download{
background:#16a34a;
}

.btn-whatsapp{
background:#25D366;
}

.item-row{
display:grid;
grid-template-columns:1fr 60px 80px;
gap:8px;
margin-top:8px;
}
